* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
button {
  background: transparent;
  border: none;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
textarea {
  border: none;
  resize: none;
}
textarea,
input {
  -moz-appearance: none;
  outline: 0px none transparent;
  border: none;
}
body {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  color: #333;
}
.container {
  width: 1080px;
  margin: 0 auto;
}
h1 {
  text-align: center;
}
P {
  padding: 1rem 0;
}
.row {
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 1rem;
}
.col {
  flex-basis: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
}
.col-item {
  height: 30vh;
  background-color: #d7d6df;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.col-item-3 {
  height: 50vh;
}
